<!DOCTYPE html>
<html>
  <head>
    <title>TODO App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header>
    <h1>todo <span>list</span></h1>
    <h2>A simple todo list app built with node</h2>
  </header>

  <section>
    <input type="text" id="todoInput" placeholder="Insert Your Task...">
    <hr>
  </section>

  <ul class="list">
    <li><span>todo</span></li>
  </ul>

  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/script.js"></script>

  </body>
</html>
